aiohappyeyeballs==2.6.1
aiohttp==3.11.6
aiosignal==1.4.0
alembic==1.14.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.6.2
APScheduler==3.10.4
asyncpg==0.30.0
attrs==26.1.0
bcrypt==4.0.1
bidict==0.23.1
billiard==4.2.4
black==24.10.0
boto3==1.35.68
botocore==1.35.68
celery==5.4.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
chardet==5.2.0
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coverage==7.13.5
cryptography==43.0.3
Deprecated==1.3.1
ecdsa==0.19.2
email-validator==2.2.0
et_xmlfile==2.0.0
factory_boy==3.3.1
Faker==33.0.0
fastapi==0.115.5
flake8==7.1.1
frozenlist==1.8.0
greenlet==3.1.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.27.2
idna==3.12
iniconfig==2.3.0
isort==5.13.2
jmespath==1.1.0
kombu==5.4.2
limits==3.14.0
loguru==0.7.2
lxml==6.1.0
Mako==1.3.11
MarkupSafe==3.0.3
mccabe==0.7.0
multidict==6.7.1
mypy==1.13.0
mypy_extensions==1.1.0
openpyxl==3.1.5
packaging==24.2
passlib==1.7.4
pathspec==1.0.4
pillow==11.0.0
platformdirs==4.9.6
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
psycopg2-binary==2.9.10
pyasn1==0.6.3
pycodestyle==2.12.1
pycparser==3.0
pydantic==2.10.1
pydantic-settings==2.6.1
pydantic_core==2.27.1
pyflakes==3.2.0
pytest==8.3.3
pytest-asyncio==0.25.3
pytest-mock==3.14.0
pytest-cov==6.0.0
python-dateutil==2.9.0
python-dotenv==1.0.1
python-engineio==4.10.1
python-jose==3.3.0
python-magic==0.4.27
python-magic-bin==0.4.14
python-multipart==0.0.12
python-pptx==1.0.2
python-socketio==5.11.4
pytz==2024.2
PyYAML==6.0.3
qrcode==8.0
redis==5.2.0
requests==2.32.3
resend==2.4.0
rsa==4.9.1
s3transfer==0.10.4
setuptools==82.0.1
shortuuid==1.0.13
simple-websocket==1.1.0
stripe==11.4.1
six==1.17.0
slowapi==0.1.9
sniffio==1.3.1
SQLAlchemy==2.0.36
starlette==0.41.3
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.32.1
vine==5.1.0
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
wheel==0.46.3
win32_setctime==1.2.0
wrapt==2.1.2
wsproto==1.3.2
xlsxwriter==3.2.9
yarl==1.23.0
bleach==6.3.0

pypdf==5.1.0
mutagen==1.47.0
premailer
prometheus-client==0.22.1
aiosmtplib==5.1.0
python-docx
pdfplumber
